* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

body {
  background-color: #eef5f8;
}

.vign img {
  width: 100%;
  height: 60%;
}

.vign__cmd {
  width: 100rem;
}

header {
  background-color: rgb(104, 191, 206);
  padding: 2 0px;
}
