* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  width: auto;
  height: auto;
}

body {
  background-color: #eef5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cont {
  flex: 1 0 auto;
}

header {
  background-color: rgb(116, 169, 179);
  padding: 2 0px;
}

.vign img {
  width: 100%;
  height: 60%;
}

.vign__cmd {
  width: 100rem;
}

.footer {
  flex-shrink: 0;
  width: 100%;
}
